# Ignore virtual environment folder
venv/
.env/

# Fichiers Python compilés
__pycache__/
*.pyc

#Trained models
# Ignorer tout le contenu de trained_models/unet (récursif)
trained_models/unet/**

# …sauf un fichier sentinelle pour versionner le dossier lui-même
!trained_models/unet/.gitkeep
